.body {
    margin-left:10px;
    font-size: small;
    background-image: none;
    width: 7in;
    height: 9in;
    background-color: transparent;
    text-align: left
}

.address_float {
    position:absolute;
    padding-top:-5px;
}

.label_top_title {
    font-family: Arial;
    font-size: 25px;
    letter-spacing: -1.8px;
    word-spacing: 1px;
    color: #000000;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}

.label_title {
    font-weight:bold;
    font-size:smaller;
    font-family:Arial, Helvetica, sans-serif;
    text-align:left;
}

.label_value {
    font-weight: normal;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
}

.section {
    width: 930px;
    height: 175px;
    padding: 7px;
    border-radius: 10px;
    border: 2px solid #73AD21;
}

.quote_field {
    width: 100%;
    padding: 7px;
    border-radius: 10px;
    border: 2px solid #73AD21;
}

.quote_field_short {
    width: 300px;
    height: 110px;
    border-radius: 10px;
    border: 2px solid #73AD21;
    padding: 7px;
}

.loadingLayout {
    position: absolute;
    visibility: visible;
    border: none;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: #999;
    filter: alpha(opacity=80);
    -moz-opacity: .8;
    opacity: .8;
}

.loadingIcon {
    position: relative;
    top: 45%;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url(../images/MVqkwDq.gif) 50% 50% no-repeat;
}

.myGridClass {
    width: 100%;
    /*this will be the color of the odd row*/
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #a11246;
    border-collapse: collapse;
    font-family: 'Montserrat', sans-serif;
}

    .tinyLnkbtn {
        font-size:x-small;
    }

    .myGridClass td {
        padding: 2px;
        font-size: 11px;
        text-align: center;
        line-height: 22px;
        border: solid 1px #a11246;
        color: #000;
    }

    .myGridClass th {
        padding: 4px 2px;
        color: #fff;
        text-align: center;
        line-height: 25px;
        font-weight: 600;
        font-size: 10px;
        background: #b31f55;
        border-left: solid 1px #a11246;
    }

    .myGridClass .myAltRowClass {
        background: #fcfcfc repeat-x top;
    }

    .myGridClass .myPagerClass {
        background: #ca2f48;
    }

        .myGridClass .myPagerClass table {
            margin: 5px 0;
        }

        .myGridClass .myPagerClass td {
            border-width: 0;
            padding: 0 6px;
            border-left: solid 1px #666;
            font-weight: bold;
            color: #fff;
            line-height: 12px;
        }

        .myGridClass .myPagerClass a {
            color: #666;
            text-decoration: none;
        }

            .myGridClass .myPagerClass a:hover {
                color: #000;
                text-decoration: none;
            } 

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

.topBorder {
    border-top: 1px solid red;
}

.myButton {
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color: #768d87;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 16px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;
}

    .myButton:hover {
        background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
        background-color: #6c7c7c;
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }

.myButton_small {
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color: #768d87;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    padding: 4px 12px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;
}

    .myButton_small:hover {
        background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
        background-color: #6c7c7c;
    }

    .myButton_small:active {
        position: relative;
        top: 1px;
    }
